<div
  [ngClass]="{ highlight: thisAlbum.highlight }"
  class="album"
  (dblclick)="onToggle(thisAlbum)">
    <h3>{{thisAlbum.artist}} 
        <fa-icon
            (click)="onDelete(thisAlbum)"
            [icon]="faTimes"
            title="Remove {{ thisAlbum.album }}">
        </fa-icon>
    </h3>
    <div class="flex-container">
        <div class="album-details">
            <h4>{{thisAlbum.album}}</h4>
            <p>Release Date: <br /> {{thisAlbum.date}}</p>
        </div>    
        <div class="album-art">
            <!-- TODO: handle NULL album art -->
            <img alt="{{thisAlbum.album}} cover art." [src]="thisAlbum.album_art" />
        </div>
    </div>
</div>
