h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}
h4 {
    margin-top: 0px;
    font-style: italic;
}
.plant {
    background: #212121;
    /* These borders match the background. They prevent cell resizing. */
    border-left: 5px solid #212121;
    border-right: 5px solid #212121;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.plant:hover {
    border-left: 5px solid #5070ff;
    border-right: 5px solid #5070ff;
    animation-name: border_color;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease;
}
@keyframes border_color {
    from {}
    to { 
        border-left-color: #ffbd50;
        border-right-color: #ffbd50;
        }
}
.plant.highlight {
    background: #21212f;
    /* These borders match the background. They prevent cell resizing. */
    border-left: 5px solid #21212f;
    border-right: 5px solid #21212f;
}
.flex-container {
    display: flex;
}
.flex-container > div {
    margin: 5px;
}
.plant-details {
    width: 60%;
}